@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: var(--font-workSans);
  transition: .3s linear;

}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

/* *<===Same Styles===>* */

:root {
  --light-dark: #424242;
  --btn-primary: #FF900E;
  --title-dark: #131313;
  --text-light: #727272;
  --text-dark: #131313;
  --white: #FFFFFF;
  --h1: 3rem;
  --font-workSans: 'Work Sans', sans-serif;
  /*heading1 font size */

  --h3: 2.5rem;
  /*heading3 font size */

  --h4: 2rem;
  /*heading4 font size */

  --p: 1.5rem;
  /*paragrapgh font size */

  --a: 1.5rem;
  /*a tag font size */
}

*::selection {
  background: var(--btn-primary);
  color: #fff;
}

.h1 {
  font-size: var(--h1);
  color: var(--title-dark);
}

.h3 {
  font-size: var(--h3);
  color: var(--text-dark);
}

.h4 {
  font-size: var(--h4);
  color: var(--light-dark);
}

.p {
  font-size: var(--p);
  color: var(--text-light);
}

.a {
  font-size: var(--a);
  background: var(--btn-primary);
  color: var(--white);
}

.span {
  color: var(--btn-primary);
}

.span1 {
  color: var(--text-dark);
}

.wrapper {
  background: var(--white);
  color: var(--text-dark);
  width: 100%;
  min-height: 100vh;
}

section {
  max-width: 1150px;
  width: 100%;
  margin: 7rem auto;
  padding: 1.5rem;
}

.btn {
  padding: .7rem 2rem;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.7;

}


/* *<===Same Styles End===>* */

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior:smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-thumb {
  background: var(--btn-primary);
  border-radius: 50rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

/* image common styls */
img {
  width: 100%;
  height: 100%;
}




/* *<===main style starts===>* */


/* *<===header section styles===>* */
.header {
  width: 100%;
  padding-top: 3rem;
  background: #FFF4E7;
  height: 950px;
}

.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  max-width: 1150px;
  margin: 0 auto;
}

.header .nav .logo {
  font-weight: 600;
}

.header .nav .nav-link {
  /* border: 1px solid #000; */
  padding: .5rem 2rem;
  display: flex;
  align-items: center;
  gap: 4vh;
}

.header .nav .nav-link li a {
  font-size: 1.5rem;
  color: var(--light-dark);
  font-weight: 400;
  letter-spacing: .5px;
}

.header .nav .nav-link li a:hover {
  color: var(--btn-primary);
}

.header .header-details {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.header .header-details .info-part {
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.header .header-details .info-part .h1 {
  width: 450px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.header .header-details .info-part .p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

/* .header .header-details .info-part a {}

.header .header-details .info-part a:hover {
  opacity: 0.7;
} */

.header .header-details .header-banner {
  width: 100%;
  max-width: 1050px;
  border: .7rem solid var(--white);
  border-radius: 5px;

}

/* *<===our feature section styles===>* */
.our-feature {
  display: flex;
  gap: 50px;
  align-items: center;
}

.our-feature .feature-image {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  gap: 4vh;
}

.our-feature .feature-image img {
  width: 324px;
  height: 324;
  border: 1rem solid var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 -2px 2px rgba(0, 0, 0, 0.2);
}

.our-feature .feature-info {
  padding: 1rem 2rem;
}

.our-feature .feature-info .h3 {
  color: var(--text-light);
  margin-bottom: 1.5rem;
}

.our-feature .feature-info .p {
  margin-bottom: 2.5rem;
  width: 450px;
}

/* *<===another feature section===>* */

.another-feature .all-feature {
  display: flex;
  gap: 50px;
}

.another-feature .all-feature .main-feature {
  /* border: 1px solid #000; */
  padding: 1rem;
  flex: 1 1 50%;
}

.main-feature .h1 {
  margin-bottom: 1.5rem;
}

.main-feature .line {
  width: 5px;
  height: 106px;
  position: relative;
  bottom: 70px;
  left: -1.5rem;
}

.main-feature #p {
  margin-bottom: 2rem;
  transform: translateY(-50px);
}

.main-feature .feature-card {
  /* border: 1px solid #000; */
  padding: 1rem;
  margin: 2rem 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.main-feature .feature-card .h3 {
  padding: 1rem;
}

.main-feature .feature-card .p {
  padding: 1rem;
}

.main-feature .btn {
  width: 250px;
  height: 150px;
  font-size: 3rem;
  background: var(--btn-primary);
  color: var(--white);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  letter-spacing: 1px;
  transform: translate(200%, 30px);
  cursor: pointer;
}

.main-feature .btn span {
  font-size: 2rem;
  font-weight: normal;

}

.another-feature .all-feature .feature-img {
  flex: 1 1 50%;
}

.another-feature .all-feature .feature-img img {
  border-radius: 5px;
  border: 1rem solid var(--white);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* *<===comment===>* */
.achievement {
  display: flex;
  flex-direction: column;
}

.achievement .h3 {
  margin-bottom: 1.5rem;
}

.achievement #p {
  margin: 1rem 0 2rem 0;
  width: 500px;
}

.achievement .some-fects {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  gap: 50px;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.achievement .some-fects .fact {
  border-radius: 5px;
  padding: 1rem;
  border: .1rem solid var(--btn-primary);

}

.achievement .some-fects .fact1:hover {
  transform: translateY(-20px);
}

.achievement .some-fects .fact2:hover {
  transform: scale(1.2);
}

.achievement .some-fects .fact3:hover {
  transform: translateY(30px);
}

.achievement .some-fects .fact4:hover {
  transform: scale(.75);
}

.achievement .some-fects .fact .h3 {
  margin-top: 1rem;
}


.achievement .some-fects .fact img {
  width: 45px;
  height: 45px;
}

/* *<===our sponsor section styles===>* */
.our-sponsor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-sponsor .h1 {
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.our-sponsor .p {
  width: 500px;
  text-align: center;
}

.our-sponsor .sponsor-logo-image {
  padding: 1rem 2rem;
  display: flex;
  margin-top: 3rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.our-sponsor .sponsor-logo-image img {
  width: 10rem;
  animation: filterImage 5s linear 2s infinite;
  filter: grayscale(100%);
}

@keyframes filterImage {
  0% {
    filter: grayscale(0%);
  }

  50% {
    filter: grayscale(100%);
  }

  75% {
    filter: grayscale(0%);
  }

  100% {
    filter: grayscale(100%);
  }
}


/* *<===our tema member section styles===>* */

.our-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  gap: 20px;
}

.our-team .h3 {
  letter-spacing: 1px;
}

.our-team .teams {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.our-team .teams .team-member-card {
  border: .2rem solid var(--btn-primary);
  padding: 2rem;
  border-radius: 5px;
}

.our-team .teams .team-member-card .h3 {
  margin: 1rem 0;
  color: var(--title-dark);
}

.our-team .teams .team-member-card .p {
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  font-style: italic;
}

.our-team .teams .team-member-card .btns {
  color: var(--btn-primary);
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: .5px;
  cursor: pointer;
}

.our-team .teams .team-member-card .btns:hover i {
  padding-left: 1rem;
  color: var(--text-light);
}

.our-team .team-member-card img {
  width: 100%;
  padding: 1rem;
  border: .5rem solid var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 -2px 2px rgba(0, 0, 0, 0.2);
}


/* *<===footer section styles===>* */
.footer {
  text-align: center;
  font-size:1.7rem;
  background: #FFF4E7;
  border: 1rem solid var(--white);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 -2px 2px rgba(0, 0, 0, 0.2);
}
.footer .p .span{
  font-weight:bold;
  font-style: italic;
  letter-spacing:1px;
}











/** media quries  */
/*! computer size  */
@media(max-width:1200px) {
  html {
    font-size: 55%;
  }
}

/*! laptop size  */
@media (max-width:991px) {
  html {
    font-size: 50%;
  }
}

/*! tab size  */
@media(max-width:768px) {
  html {
    font-size: 50%;
  }
}


/*! phone size */
@media(max-width:400px) {
  html {
    font-size: 45%;
  }
}